

body{
    background-color:rgba(241, 11, 202, 0.71);
    font-family: "Source Serif Pro", serif;
}

header{
    display: flex;
    justify-content: center;
}


main{
    display: flex;
}

#user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    font-size: 20px;
    font-weight: 900;
}

#results-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 18px;
}

#computer-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
}

img{
    height: 100px;
    width: 100px;
    margin: 20px;
}

img:active{
    border: 3px dotted green;
}